##
## Velocity Template for a JMS ConnectionFactory/Destination pair that
## includes a sender and a receiver.
##
## $beanId:
## $connectionFactory:
## $destination

<bean id="$beanId"
          class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory">
    	<ref bean="$connectionFactory"/>
    </property>
    
    <property name="defaultDestination">
    	<ref bean="$destination"/>
    </property>
</bean>

<bean id="${beanId}.sender" class="springexample.client.JMSSender">
    <property name="jmsTemplate">
        <ref bean="$beanId"/>
    </property>
</bean>

<bean id="${beanId}.receiver" class="springexample.client.JMSReceiver">
    <property name="jmsTemplate">
        <ref bean="$beanId"/>
    </property>
</bean>